<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan"><font color='#3b5998'>POS MULTI PRICELIST</font></h2>
            
            <h3 class="oe_slogan"><font color='#616161'>Basic features</font></h3>
        </div>
        <div class='oe_span12'>
            <ul>
                <li>Option to load multiple pricelists in POS.</li>
                <li>User can change the pricelist anytime during the session.</li>
                <li>No need to reload the page to change the pricelist.</li>
                <li>Password authentication option available.</li>
            </ul>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <br/>
            <h4 class="oe_slogan">
                 Pricelist Selection Button
            </h4>
            
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screen1.jpg">
                <br/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
    <div class="oe_span12">
            <h4 class="oe_slogan">
                Pricelists Menu
            </h4>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screen2.jpg"/>
                <br/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
    <div class="oe_span12">
            <h4 class="oe_slogan">
               Password Authentication(Optional)
            </h4>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screen3.jpg">
                <br/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
    <div class="oe_span12">
            <h4 class="oe_slogan">
                Price Of Products Updated
            </h4>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screen4.jpg">
                <br/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
    <div class="oe_span12">
            <h4 class="oe_slogan">
                Pricelist Updation When Orderlines Exist   
            </h4>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="screen5.jpg">
                <br/>
                <img class="oe_picture" src="screen6.jpg">
            </div>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Help and Support</h3>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=POS-MULTI-PRICELIST&url=https://apps.openerp.com/apps/modules/9.0/pos_multi_pricelist&uid=pos_multi_pricelist" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	