#pricelist_select {
	cursor: pointer;
	position:relative;
	font-style: italic;
	margin-left: 0.1%;
	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	font-size:16px;
	background-color:#5c5c5c;
	color: rgb(212, 212, 212);
	margin-top:3px;
	width: 195px;
}
#pricelist_dropdown {
	color: white;
	width: 100%; 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 44px; 
	z-index: 100; 
	display: none; 
	overflow-y: scroll;
	max-height: 469%;
	background-color: rgb(28, 26, 26);
}
#pricelist_name {
	cursor:pointer;
	height:30px;
	padding-top:20px;
	border:1px solid grey
}
